.item-gan{
    --ion-item-background:#F7BFDA !important;
    color: black;
}

.item-gen{
    --ion-item-background:#FAF0D7 !important;
    color: black;
}

.alert-wrapper {
    background: #ccfa83;
  }
.my-custom-class .alert-wrapper {
background-color: #ccfa83;
}

.my-custom-class {
--background-color: #ccfa83;

}
