<ion-header>
  <ion-toolbar class="yellowbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="signin"></ion-back-button>
    </ion-buttons>
    <!-- <div class="ion-text-center">
      <img src="assets/img/logo.png" alt="FUNE Logo" width="100">
    </div> -->
  </ion-toolbar>
</ion-header>

<ion-content class="yellowcontent">
  <ion-grid>
    <!-- <ion-row>
      <ion-col>
        <div class="ion-text-center">
          <img src="assets/img/logo.png" alt="FUNE Logo">
        </div>
      </ion-col>
    </ion-row> -->

    <ion-row>
      <ion-col>
        <div class="ion-text-center">
          <h1>Create Account</h1>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col></ion-col>
      <ion-col size="8">
        <ion-list>
          <ion-item>
            <ion-icon slot="start" name="person-outline"></ion-icon>
            <ion-label position="floating">Name</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
        </ion-list>                        
      </ion-col>
      <ion-col></ion-col>
    </ion-row>

    <ion-row>
      <ion-col></ion-col>
      <ion-col size="8">
        <ion-list>
          <ion-item>
            <ion-icon slot="start" name="mail-outline"></ion-icon>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
        </ion-list>                        
      </ion-col>
      <ion-col></ion-col>
    </ion-row>

    <ion-row>
      <ion-col></ion-col>
      <ion-col size="8">
        <ion-list>
          <ion-item>
            <ion-icon slot="start" name="key-outline"></ion-icon>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password"></ion-input>
          </ion-item>
        </ion-list>               
      </ion-col>
      <ion-col></ion-col>
    </ion-row>

    <ion-row>
      <ion-col></ion-col>
      <ion-col size="8">
        <ion-list>
          <ion-item>
            <ion-icon slot="start" name="key-outline"></ion-icon>
            <ion-label position="floating">Confirm Password</ion-label>
            <ion-input type="password"></ion-input>
          </ion-item>
        </ion-list>               
      </ion-col>
      <ion-col></ion-col>
    </ion-row>

    <ion-row>
      <ion-col></ion-col>
      <ion-col size="8">
        <div class="ion-text-center">
          <ion-button shape="round" class="btn-signup">Create</ion-button> 
        </div>                    
      </ion-col>
      <ion-col></ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
